@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;

}

/* styling the outer music container */
.music-container {
  background-image:linear-gradient(  to right ,navy,#ff00ff,navy);
  box-shadow: inset -1px -1px 5px rgba(33,33,33, 0.5), inset 1px 1px 5px rgba(33,33,33,0.5); 
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
  position: relative;
  top: 200;
}

.img-container {
  position: relative;
  width: 110px;
}

/* styling the image to look like a disc by placing a small circle in it*/
.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

/* using animation to make the image rotate continiously when music is playing */
.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

/* making sure the image rotates only when the music is playing */
.music-container.play .img-container img {
  animation-play-state: running;
}

/* creating the animation keyframe and setting the image to rotate 360 degrees continiously */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
#h1{
    font-size: 80px;
    position:fixed;
    top: 150px;
    color: white;
    font-family:monotype corsiva;
    text-shadow: 20px 20px 30px  magenta;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* styling the navigation buttons */
.action-btn {
  border: 0;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}
.action-btn.action-btn-big {
  font-size: 30px;
  outline: none;
}

.action-btn:focus {
  outline: 0;
}

/* styling the music-info div by placing it under the music container */
.music-info {
    background-image:linear-gradient( navy,#ff00ff,navy);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

/* making the music info pop up when the music playing using the transform property*/
.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

/* styling the song progress container */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: painted;
  margin: 10px 0;
  height: 6px;
  width: 100%;
}

/* styling the actual progress bar and making it flow along with the song*/
.progress {
  background-color: #f10a7e;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}


.container-fluid {
    height: 900px;
    width: 100%;
    background-image:url(m1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
    background-position: center;
    position: relative;

}


.nav-link {

    list-style-type: none;
    display: block;
    color: magenta;
    text-decoration: none;
    font-size: 30px;
    margin-left: 60px;

}
.collapse{
    background-image:linear-gradient( navy,#ff00ff,navy);
}


/* styling of  list ------------>*/

.c{
    height: 800px;
    width: 100%;
    background-image: linear-gradient(navy ,#ff00ff,pink,#ff00ff,navy);
}
.list{
    height: 210px;
    width: 210px;
    margin: 40px;
    border: 5px solid;
    background-color: white;
    box-shadow: 10px 10px 30px white;
    float:left;
}
.list img{
    height: 200px;
    width: 200px;
}
.list a{
    list-style-type: none;
    text-decoration: none;
    font-size: 25px;
    padding-left: 30px;
    color: brown;
}